    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
          <h1 class="section-heading">About Us</h1>
          <div class="col-lg-8 col-sm-4">
              <h3 class="section-heading">Company background</h3>
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
          </div>
          <div class="col-lg-8 col-sm-6">
              <p>Cultivating Young Mind focuses on youth  guidance in career choices they follow ultimately.</p>
              <p>It was founded by two dynamic and talented Black women Esme Bhengu & Daisy Pheme who are driven
                and passionate about education and the youth of South Africa in general.</p>
              <p>Furthermore, they are passionate about assisting young people to follow careers of
                 their dreams.</p>
              <hr class="section-heading-spacer">
          </div>
          <div class="col-lg-8 col-sm-4">
              <h3 class="section-heading">Founders</h3>
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
          </div>
          <div class="col-lg-8 col-sm-6">
              <p>Esme is a Supply chain professional, who holds a Bcom Supply Chain from University
               of Natal (Pietermaritzburg Campus) and she later enrolled for Management advanced
               Program (Wits Business School).</p>
              <p>Esme Bhengu has over 15 year experience in Supply Chain and has worked for
              different organization, including FMCG, Petroleum, Retail & Banking sector.
              Her vast business experienced has enabled her to understand different careers in
              different industries.</p>
              <hr/>
              <p>Daisy holds a degree in Sport Management and MTech Marketing from Tshwane
              University of Technology.</p>
              <p>She is currently lecturing at Tshwane University of Technology.</p>
              <hr/>
              <p>Both founders are qualified Career Practioners in SA.<br/>
              They have also done an extensive benchmarking on career guidance
              globally, which allows Cultivating Young Mind to successfully offer
              an individually designed advice to its clients.</p>
              <hr class="section-heading-spacer">
          </div>
          <div class="col-lg-8 col-sm-4">
              <h3 class="section-heading">Our Values</h3>
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
          </div>
          <div class="col-lg-8 col-sm-6">
              <p>Cultivating young Minds draws its competitive urge by ensuring that everyone who is part of the company lives by these values:</p>
              <p>Excellence - We excel in everything that we do and exceed expectations</p>
              <p>Stewardship - We look after our clients, business, and always leave anything we touch in a better state than when we find.</p>
              <p>Respect - We treat everyone with Respect – Our Customers , Our  Suppliers and Colleagues</p>
              <p>Integrity - We are honest in all our business dealings</p>
              <hr class="section-heading-spacer">
          </div>
          <div class="col-lg-8 col-sm-4">
              <h3 class="section-heading">Membership & Association</h3>
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
          </div>
          <div class="col-lg-8 col-sm-6">
              <p>We are a proud member to one of the best Association in Career Couching industry Globally – Career Development
                Institute - CDI where we receive ongoing training and learning best practices in the education system globally.</p>
              <hr class="section-heading-spacer">
          </div>
        </div>
    </section>
