<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#home">{{ site.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              {% for nav in site.navigation %}
            	   <li>
                    <a class="page-scroll" href="#{{nav.link}}">{{nav.title}}</a>
                </li>
              {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1>{{ page.title }}</h1>
						<h3>{{ page.subTitle }}</h3>
						<hr class="intro-divider">
            <div class="the-how-summary">
              <h3>Today’s lifestyle demands a lot from both children and parents</h3>
              <ul class="list-unstyled">
                <li>It demands careers from parents</li>
                <li>leading to spending less time nurturing their child’s</li>
                <li>interests and passion, therefore</li>
                <li>Unable to assist their already confused child pick the right career to persue</li>
              </ul>
              <h3>Cultivating Young Minds helps parents succeed in assisting their children</h3>
              <ul class="list-unstyled">
                <li>By providing sound and professional career guidance, coaching and consulting services</li>
              </ul>
            </div>
            <!--<div class="call-to-action">
              <form>
                <div class="form-group">
    						<ul class="list-inline">
                  <li>
                    <input class="form-control" type="email" placeholder="Email" />
                  </li>
    							<li>
    								<input type="submit" class="btn btn-default" value="Find Out More"/>
    							</li>
    						</ul>
              </div>
              </form>
            </div>-->
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
